#footer {
    background: #f8f9fa;
    padding: 3.3em 0 2.5em;
    h5 {
        font-weight: bolder;
        margin-bottom: 1.3rem;
    }

    ul {
        list-style: none;
        padding: 0;

        ul li {
            margin: 0.9rem 0;
        }
    }
    a {
        color: $dark-color-text;
        font-size: $font-size-base * 0.75;
        
        &:hover, &:active, &:focus {
            color: $dark-color-text;
        }
    }

    #choose_language {
        font-size: $font-size-base * 0.75;
    }

    #copyright {
        font-size: $font-size-base * 0.65;
        color: #9b9b9b;
    }
}