#header {
    .navbar {
        padding: 2.2rem 0 2.2rem .1rem;

        .nav-link {
            color: $body-color;
            font-weight: bold;
            font-size: $font-size-base * 0.769;
            padding: .4rem .2rem;
            letter-spacing: .01em;
        }

        @include media-breakpoint-up(lg) {
            .nav-item ~ .nav-item {
                margin-left: 4.3rem;
            }
        }
    }
}