
// Body
$body-bg: #FFF;
$body-color: #303030;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 1.3rem;
$line-height-base: 1.6;
$font-color: #303030;
$h1-font-size: $font-size-base * 5;
$h2-font-size: $font-size-base * 2.538;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 0.75;
$h5-font-size: $font-size-base * 0.75;

// Colors
$primary: #ebae50;
$btn-color: #FFF;
$dark-color-text: #424b5a;
