
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap-vue
@import '~bootstrap-vue/src/index.scss';

// Common
@import 'footer';
@import 'header';

// General
* {
  font-family: $font-family-sans-serif;
}

.btn {
  transition: .2s;
  border-radius: 28px;
  padding: 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 3em;
  width: 13em;
  justify-content: center;
  
  &:hover {
    transform: translateY(-.1rem);
  }
  &-primary {
    color: $btn-color;
  
    &:hover {
      color: $btn-color;
      box-shadow: 0 5px 20px 1px rgba(235,174,80,.651);
    }
  }
  &-secondary:hover {
    box-shadow: 0 5px 20px 1px rgba(0,0,0,.65);
  }
}
.page-wrapper {
  @include media-breakpoint-up(lg) {
    margin-top: 6.1rem;
    margin-bottom: 16.6rem;
  }

  h2 {
    margin: 1.4rem 0.3rem 1rem;
    letter-spacing: 0.025em;
    line-height: 1.4;

    @include media-breakpoint-down(lg) {
      font-size: $font-size-base * 1.5;
    }
  }

  h3 {
    letter-spacing: 0.025em;
    margin: 2rem 0.3rem 1.6rem;
    line-height: 1.65;
    @include media-breakpoint-down(lg) {
      font-size: $font-size-base * 0.8;
    }

    @include media-breakpoint-up(lg) {
      margin: 2rem 0.3rem 1.6rem;      
      line-height: 1.65;
    }
  }

  p {
    line-height: 2.1;
    letter-spacing: -0.005em;
    font-size: $font-size-base * 0.8;
  }
  .button-wrapper {
    width: 100%;
  }
  .row {
    &:nth-child(1) {
      p {
        line-height: 1.68;
        letter-spacing: -0.005em;
        font-size: $font-size-base;
      }
    }
    @include media-breakpoint-up(lg) {
      &:nth-child(2) {
        margin-top: 12.4rem;
      }
      &:nth-child(3) {
        margin-top: 4.6rem;
      }
      &:nth-child(4) {
        margin-top: 4.5rem;
      }
      &:nth-child(5) {
        margin-top: 10.5rem;
        
        h3 {
          font-size: $font-size-base * 1.6;
        }
      }
      &:nth-child(6) {
        margin-top: 2.2rem;
      }
      &:nth-child(7) {
        margin-top: 2.7rem;
      }
      &:nth-child(8) {
        margin-top: 9.5rem;
      }
    }
  }

  img {
    transition: all .3s linear;
  }

  #scrollama-steps-scrollama1 {
    img {
      margin-left: -56px;
    }
  }
  #scrollama-steps-scrollama2 {
    img {
      margin-left: -27px;
    }
  }
   
  .slide-up {
    transform: translateY(0);

    img {
      margin: 10px;
    }
    p {
      font-size: $font-size-base * 0.7;
      line-height: 1.6;
    }
  }
   
  .scrollama-steps {
    transition: all .3s linear;
  }

  .banner {
    background: url('../images/illustrations/04.svg') no-repeat center center;
    border-radius: 10px;
  }
}