<template>
    <Scrollama
        :id="'scrollama-fade'+dataStep"
        :debug="false"
        :progress="true"
        @step-progress="stepProgressHandler"
    >
        <div :data-step="dataStep">
            <div :style.sync="stepProgress">
                <slot></slot>
            </div>
        </div>
    </Scrollama>
</template>

<script>
    import 'intersection-observer'
    import Scrollama from 'vue-scrollama'
    
    export default {
        name: 'fadeanimation',
        components: {
            Scrollama
        },
        props: ['dataStep', 'start'],
        data() {
            return {
                stepProgressOpacity: 0
            }
        },
        computed: {
            stepProgress: function() {
                return `opacity: ${ this.stepProgressOpacity };`
            }
        },
        methods: {
            stepProgressHandler ({progress, index}) {
                if (progress * 10 >= this.start) {
                    this.stepProgressOpacity = progress * 2;
                } else {
                    this.stepProgressOpacity = 0;
                }
            }
        }
    }
</script>