<template>
    <Scrollama
        :id="'scrollama'+dataStep"
        :debug="false"
        :progress="true"
        @step-progress="stepProgressHandler"
    >
        <div :data-step="dataStep">
            <b-img :style.sync="stepProgress" :src="src" fluid blank-src blank-width="436" blank-height="590" offset="0" throttle="0"></b-img>
        </div>
    </Scrollama>
</template>

<script>
    import 'intersection-observer'
    import Scrollama from 'vue-scrollama'
    
    export default {
        name: 'slideanimation',
        components: {
            Scrollama
        },
        props: ['dataStep', 'src', 'direction'],
        data() {
            let directionValue = (this.direction === 'right') ? 100 : -100;
            return {
                directionValue: directionValue,
                stepProgressValue: directionValue,
                stepProgressOpacity: 0
            }
        },
        computed: {
            stepProgress: function() {
                return `transform: translateX(${ this.stepProgressValue }%); opacity: ${ this.stepProgressOpacity };`
            }
        },
        methods: {
            stepProgressHandler ({progress, index}) {
                let calc_progress = 0;
                if (this.direction === 'right') {
                    calc_progress = (this.directionValue - progress * 400);
                    if (calc_progress >= this.directionValue) {
                        calc_progress = this.directionValue;
                    } else if (calc_progress <= 0) {
                        calc_progress = 0;
                    }
                } else {
                    calc_progress = (this.directionValue + progress * 400);
                    if (calc_progress <= this.directionValue) {
                        calc_progress = this.directionValue;
                    } else if (calc_progress >= 0) {
                        calc_progress = 0;
                    }
                }
                this.stepProgressOpacity = progress * 2;
                this.stepProgressValue = calc_progress;
            }
        }
    }
</script>